<section class="section-calendar">
  <div class="container center-text">
    <span class="subheading">Event Calendar</span>
    <h2 class="heading-secondary">
      Workspaces for business of any size
    </h2>
  </div>
  <div class="container grid grid--2-cols grid--center-v">
    <!-- # left -->
    <div class="calendar-container">
      <div class="wrapper">
        <header>
          <p class="current-date"></p>
          <div class="icons">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <span
              id="next"
              class="material-symbols-rounded"
            >chevron_right</span>
          </div>
        </header>
        <div class="calendar">
          <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
          </ul>
          <ul class="days"></ul>
        </div>
      </div>
    </div>

    <!-- # right -->
    <div class="calendar-container">
      <div class="wrapper">
        <header>
          <p class="current-date-test"></p>
          <div class="icons-test">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <span
              id="next"
              class="material-symbols-rounded"
            >chevron_right</span>
          </div>
        </header>
        <div class="calendar test">
          <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
          </ul>
          <ul class="days-test">
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>