<section class="section-courses">
  <div class="container center-text">
    <span class="subheading page-head">Course Lists</span>
    <h2 class="heading-secondary">
      The modern
      <strong>JavaScript </strong>
      course for everyone 2023:
      <br />From Zero to Expert!
    </h2>
    <p class="course-content">Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Dolorem, quas. Odio culpa quibusdam, doloribus cum tempore suscipit
      vero inventore accusamus possimus eveniet assumenda corporis. Eum
      doloremque soluta dolorem in molestias?Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Delectus, explicabo necessitatibus! Itaque
      eius sint autem, veritatis asperiores vel officia nostrum earum accusamus
      animi dicta et doloremque numquam cupiditate facilis unde?</p>
  </div>

  <div class="container grid grid--3-cols margin-bottom-md">
    <div class="course">
      <img src="img/react.jpeg" class="course-img" alt="ReactJS" />
      <div class="course-content">
        <div class="course-tags">
          <span class="tag tag--javascript">Javascript</span>
          <span class="tag tag--CSS">CSS</span>
          <span class="tag tag--HTML">HTML</span>
        </div>
        <p class="course-title">ReactJS</p>
        <p class="course-info">Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Expedita magni qui fugit id aliquam deserunt fugiat
          cupiditate ipsum praesentium!
        </p>
        <br />
        <ul class="course-attributes">
          <li class="course-attribute">
            <ion-icon class="course-icon" name="calendar-outline"></ion-icon>
            <span>15 August 2023</span>
          </li>
          <li class="course-attribute">
            <ion-icon class="course-icon" name="time-outline"></ion-icon>
            <span><strong>60</strong> Hours </span>
          </li>
          <li class="course-attribute">
            <ion-icon class="course-icon" name="star-outline"></ion-icon>
            <span><strong>4.8</strong> rating (441)</span>
          </li>
        </ul>
        <div class="plan-sing-up">
          <a href="#" class="btn btn--full">Course Details</a>
        </div>
      </div>
    </div>

    <div class="course">
      <img src="img/node.jpeg" class="course-img" alt="nodejs" />
      <div class="course-content">
        <div class="course-tags">
          <span class="tag tag--javascript">Javascript</span>
          <span class="tag tag--mongoDB">MongoDB</span>
        </div>
        <p class="course-title">NodeJS</p>
        <p class="course-info">Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Expedita magni qui fugit id aliquam deserunt fugiat
          cupiditate ipsum praesentium!
        </p>
        <br />
        <ul class="course-attributes">
          <li class="course-attribute">
            <ion-icon class="course-icon" name="calendar-outline"></ion-icon>
            <span>15 August 2023</span>
          </li>
          <li class="course-attribute">
            <ion-icon class="course-icon" name="time-outline"></ion-icon>
            <span><strong>60</strong> Hours </span>
          </li>
          <li class="course-attribute">
            <ion-icon class="course-icon" name="star-outline"></ion-icon>
            <span><strong>4.8</strong> rating (441)</span>
          </li>
        </ul>
        <div class="plan-sing-up">
          <a href="#" class="btn btn--full">Course Details</a>
        </div>
      </div>
    </div>

    <div class="course">
      <img src="img/node.jpeg" class="course-img" alt="nodejs" />
      <div class="course-content">
        <div class="course-tags">
          {{! <span class="tag tag--front-end">Front-End</span>
            <span class="tag tag--back-end">Back-end</span> }}
          <span class="tag tag--full-stack">Full-stack</span>
        </div>
        <p class="course-title">ReactJS / NodeJS</p>
        <p class="course-info">Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Expedita magni qui fugit id aliquam deserunt fugiat
          cupiditate ipsum praesentium!
        </p>
        <br />
        <ul class="course-attributes">
          <li class="course-attribute">
            <ion-icon class="course-icon" name="calendar-outline"></ion-icon>
            <span>15 August 2023</span>
          </li>
          <li class="course-attribute">
            <ion-icon class="course-icon" name="time-outline"></ion-icon>
            <span><strong>60</strong> Hours </span>
          </li>
          <li class="course-attribute">
            <ion-icon class="course-icon" name="star-outline"></ion-icon>
            <span><strong>4.8</strong> rating (441)</span>
          </li>
        </ul>
        <div class="plan-sing-up">
          <a href="#" class="btn btn--full">Course Details</a>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- pagination + arrow-->
<div class="container">
  <nav>
    <ul class="pagination pagination-lg justify-content-end">
      {{! <li class="page-item">
          <a href="#" class="page-link">
            <span>&laquo;</span>
            <span class="sr-only"></span>Previous</a>
        </li> }}
      <li class="page-item--disabled">
        <a href="#" class="page-link">1</a>
      </li>
      <li class="page-item--disabled">
        <a href="#" class="page-link">2</a>
      </li>
      <li class="page-item--disabled">
        <a href="#" class="page-link">3</a>
      </li>
      <li class="page-item--disabled">
        <a href="#" class="page-link">4</a>
      </li>
      <li class="page-item--disabled">
        <a href="#" class="page-link">5</a>
      </li>
      <li class="page-item--active">
        <a href="#" class="page-link">Next
          <span>&raquo;</span>
          <span class="sr-only"></span></a>
      </li>
    </ul>
  </nav>
</div>