<!-- ######################### testing field ##########################  -->
<div class=""><a href="/calendar">This is script version
  </a></div>
<div id="" class="sc-seat-row tests">
</div>

<!-- ######################### testing field ##########################  -->

<section class="section-seatchart">
  <div class="container center-text">
    <span class="subheading">Booking</span>
    <h2 class="heading-secondary">
      Workspaces for business of any size
    </h2>
    {{! Today Date  }}
    <div class="today-item">
      <ion-icon class="today-icon" name="calendar-outline"></ion-icon>
      <span class="today-date">08 AUG 2023</span>
    </div>
  </div>

  <!-- #########################seat chart layuor ##########################  -->

  <!-- Room A  -->
  <div class="sc-main-container">
    <div class="sc-main-container">
      <div class="sc-map">
        <div class="sc-seats-container">
          <div class="sc-front">Room A</div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room1"
              data-sec="10:00"
            >10:00</div>
            <div
              class="sc-seat sc-seat-available room1"
              data-sec="10:30"
            >10:30</div>
            <div
              class="sc-seat sc-seat-available room1"
              data-sec="11:00"
            >11:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="11:30"
            >11:30</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="12:00"
            >12:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="12:30"
            >12:30</div>
          </div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="13:00"
            >13:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="13:30"
            >13:30</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="14:00"
            >14:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="14:30"
            >14:30</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="15:00"
            >15:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="15:30"
            >15:30</div>
          </div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="16:00"
            >16:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="16:30"
            >16:30</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="17:00"
            >17:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="17:30"
            >17:30</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="18:00"
            >18:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="18:30"
            >18:30</div>
          </div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="19:00"
            >19:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="19:30"
            >19:30</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="20:00"
            >20:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="20:30"
            >20:30</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="21:00"
            >21:00</div>
            <div
              class="sc-seat sc-seat-available room1 c1"
              data-sec="21:30"
            >21:30</div>
          </div>
        </div>

        <!-- Room B1  -->
        <div class="sc-seats-container">
          <div class="sc-front">Room B1</div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="10:00"
            >10:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="10:30"
            >10:30</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="11:00"
            >11:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="11:30"
            >11:30</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="12:00"
            >12:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="12:30"
            >12:30</div>
          </div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="13:00"
            >13:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="13:30"
            >13:30</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="14:00"
            >14:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="14:30"
            >14:30</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="15:00"
            >15:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="15:30"
            >15:30</div>
          </div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="16:00"
            >16:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="16:30"
            >16:30</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="17:00"
            >17:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="17:30"
            >17:30</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="18:00"
            >18:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="18:30"
            >18:30</div>
          </div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="19:00"
            >19:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="19:30"
            >19:30</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="20:00"
            >20:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="20:30"
            >20:30</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="21:00"
            >21:00</div>
            <div
              class="sc-seat sc-seat-available room2 c2"
              data-sec="21:30"
            >21:30</div>
          </div>

        </div>

        <!-- Room B2 #for additional -->
        <div class="sc-seats-container">
          <div class="sc-front">Room B2</div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="10:00"
            >10:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="10:30"
            >10:30</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="11:00"
            >11:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="11:30"
            >11:30</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="12:00"
            >12:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="12:30"
            >12:30</div>
          </div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="13:00"
            >13:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="13:30"
            >13:30</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="14:00"
            >14:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="14:30"
            >14:30</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="15:00"
            >15:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="15:30"
            >15:30</div>
          </div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="16:00"
            >16:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="16:30"
            >16:30</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="17:00"
            >17:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="17:30"
            >17:30</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="18:00"
            >18:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="18:30"
            >18:30</div>
          </div>
          <div class="sc-seat-row">
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="19:00"
            >19:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="19:30"
            >19:30</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="20:00"
            >20:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="20:30"
            >20:30</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="21:00"
            >21:00</div>
            <div
              class="sc-seat sc-seat-available room3 c3"
              data-sec="21:30"
            >21:30</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- #########################seat chart layuor ##########################  -->

  <!-- ########################### cart layuor #############################  -->
  <div class="sc-right-container">
    <div class="container grid grid--2-cols grid--center-v">
      <div class="sc-carts-container">
        <div class="sc-cart">
          <h3 class="heading-tertiary">
            Step 01 >>
          </h3>
          <p class="step-description">Select your time</p>
          <div class="sc-cart-header">
            <p class="sc-cart-title">Clear All</p>
            <!-- # Ting : Please help for... -->
            <button
              class="sc-cart-btn sc-cart-btn-delete emptyCart"
              type="button"
            >
              <div class="sc-cart-btn-icon"></div>
            </button>
          </div>
          <div class="sc-cart-table-container">
            <table class="sc-cart-table cart-items">
              {{! <tr>
                <td>
                  <div class="sc-ticket first-class">
                    <div class="sc-ticket-stripes"></div>
                    <div class="sc-ticket-seat-label">10:30</div>
                    <div class="sc-ticket-seat-type">Room A</div>
                    <div class="sc-ticket-stripes"></div>
                  </div>
                </td>
                <td>$25.00</td>
                <!-- # Ting : Please help for... -->
                <td>
                  <button class="sc-cart-btn sc-cart-btn-delete" type="button">
                    <div class="sc-cart-btn-icon"></div>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="sc-ticket first-class">
                    <div class="sc-ticket-stripes"></div>
                    <div class="sc-ticket-seat-label">11:00</div>
                    <div class="sc-ticket-seat-type">Room A</div>
                    <div class="sc-ticket-stripes"></div>
                  </div>
                </td>
                <td>$25.00</td>
                <td>
                  <!-- # Ting : Please help for... -->
                  <button class="sc-cart-btn sc-cart-btn-delete" type="button">
                    <div class="sc-cart-btn-icon"></div>
                  </button>
                </td>
              </tr> }}
            </table>
          </div>
          <div class="sc-cart-footer">
            <p class="sc-cart-total">Total: $50.00</p>
            <button
              id="reserve"
              class="sc-cart-btn sc-cart-btn-submit res"
              type="button"
            >
              Reserve
            </button>
          </div>
        </div>

        <!-- #disable -->
        <!-- legend  -->

        <ul class="sc-legend">
          <li class="sc-legend-item">
            <div class="sc-legend-bullet room1"></div>
            <p class="sc-legend-description">Room A ($25)</p>
          </li>
          <li class="sc-legend-item">
            <div class="sc-legend-bullet room2"></div>
            <p class="sc-legend-description">Room B1 ($25)</p>
          </li>
          <li class="sc-legend-item">
            <div class="sc-legend-bullet room3"></div>
            <p class="sc-legend-description">Room B2 ($0)</p>
          </li>
          <li class="sc-legend-item">
            <div class="sc-legend-bullet sc-seat-reserved"></div>
            <p class="sc-legend-description">Reserved</p>
          </li>
        </ul>
      </div>

      <div class="step-text-box">
        <h3 class="heading-tertiary">
          Step 02 >>
        </h3>
        <p class="step-description">Input your course Id & Email</p>
        {{! <ul class="list-date-time">
          <li class="list-date">
            <ion-icon
              class="date-time-icon"
              name="calendar-number-outline"
            ></ion-icon>
            <span>Date : </span>
          </li>
          <li class="list-time">
            <ion-icon class="date-time-icon" name="time-outline"></ion-icon>
            <span>Time : </span>
          </li>
        </ul> }}

        <form action="/#" method="post">

          <div class="course-id-form">
            <label for="date">Date</label>
            <input
              type="text"
              name="date"
              placeholder="date"
              class="form-control"
              value="{{name}}"
            />
          </div>

          <div class="course-id-form sc-cart-table">
            <label for="time">Time</label>
            <div class="sc-cart-table-container">
              <table class="sc-cart-table book-confirm"></table>
            </div>
          </div>

          <div class="course-id-form">
            <label for="course type">Course Id</label>
            <input
              type="text"
              name="course type"
              placeholder="PYTH 01"
              class="form-control"
              value="{{name}}"
            />
          </div>

          <div class="course-id-form">
            <label for="email">Email Address</label>
            <input
              type="email"
              name="email"
              placeholder="helloworld@example.com"
              class="form-control"
              value="{{Email}}"
            />
          </div>

          <div class="course-id-form">
            <label for="phone">Phone</label>
            <input
              type="text"
              name="phone"
              placeholder="WhatsApp phone no."
              class="form-control"
              value="{{phone}}"
            />
          </div>
          <button class="btn btn--form" type="submit">Submit</button>
        </form>

      </div>

    </div>

  </div>
  <!-- ########################### cart layuor #############################  -->

</section>