<main>
  <section class="section-hero">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Become A
          <br />Web Developer
          <br />Today
        </h1>
        <p class="hero-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
          accusantium quibusdam rem consectetur quidem iure sunt rerum facilis
          praesentium voluptates repellat vitae maiores molestias possimus,
          tenetur eum distinctio ea doloremque?
        </p>
        <a href="#" class="btn btn--full margin-right-sm">Start coding</a>
        <a href="#" class="btn btn--outline">Learn more &darr;</a>
        <div class="delivered-meals">
          <div class="delivered-imgs">
            <img src="img/customers/customer-1.jpg" alt="Customer photo" />
            <img src="img/customers/customer-2.jpg" alt="Customer photo" />
            <img src="img/customers/customer-3.jpg" alt="Customer photo" />
            <img src="img/customers/customer-4.jpg" alt="Customer photo" />
            <img src="img/customers/customer-5.jpg" alt="Customer photo" />
            <img src="img/customers/customer-6.jpg" alt="Customer photo" />
          </div>
          <p class="delivered-text">
            <span>100+</span>
            student graduated last year!
          </p>
        </div>
      </div>
      <div class="hero-img-box">
        <img src="#" class="hero-img" alt="company or course photo" />
      </div>
    </div>
  </section>
  <!-- #course -->
  <section class="section-courses">
    <div class="container center-text">
      <span class="subheading">Course</span>
      <h2 class="heading-secondary">
        The modern
        <strong>JavaScript </strong>
        course for everyone 2023:
        <br />From Zero to Expert!
      </h2>
    </div>

    <div class="container grid grid--3-cols margin-bottom-md">
      <div class="course">
        <img src="img/react.jpeg" class="course-img" alt="ReactJS" />
        <div class="course-content">
          <div class="course-tags">
            <span class="tag tag--javascript">Javascript</span>
            <span class="tag tag--CSS">CSS</span>
            <span class="tag tag--HTML">HTML</span>
          </div>
          <p class="course-title">ReactJS</p>
          <ul class="course-attributes">
            <li class="course-attribute">
              <ion-icon class="course-icon" name="calendar-outline"></ion-icon>
              <span>15 August 2023</span>
            </li>
            <li class="course-attribute">
              <ion-icon class="course-icon" name="time-outline"></ion-icon>
              <span><strong>60</strong> Hours </span>
            </li>
            <li class="course-attribute">
              <ion-icon class="course-icon" name="star-outline"></ion-icon>
              <span><strong>4.8</strong> rating (441)</span>
            </li>
          </ul>
          <div class="plan-sing-up">
            <a href="#" class="btn btn--full">Course Details</a>
          </div>
        </div>
      </div>

      <div class="course">
        <img src="img/node.jpeg" class="course-img" alt="nodejs" />
        <div class="course-content">
          <div class="course-tags">
            <span class="tag tag--javascript">Javascript</span>
            <span class="tag tag--mongoDB">MongoDB</span>
          </div>
          <p class="course-title">NodeJS</p>
          <ul class="course-attributes">
            <li class="course-attribute">
              <ion-icon class="course-icon" name="calendar-outline"></ion-icon>
              <span>15 August 2023</span>
            </li>
            <li class="course-attribute">
              <ion-icon class="course-icon" name="time-outline"></ion-icon>
              <span><strong>60</strong> Hours </span>
            </li>
            <li class="course-attribute">
              <ion-icon class="course-icon" name="star-outline"></ion-icon>
              <span><strong>4.8</strong> rating (441)</span>
            </li>
          </ul>
          <div class="plan-sing-up">
            <a href="#" class="btn btn--full">Course Details</a>
          </div>
        </div>
      </div>

      <div class="course">
        <img src="img/node.jpeg" class="course-img" alt="nodejs" />
        <div class="course-content">
          <div class="course-tags">
            {{! <span class="tag tag--front-end">Front-End</span>
            <span class="tag tag--back-end">Back-end</span> }}
            <span class="tag tag--full-stack">Full-stack</span>
          </div>
          <p class="course-title">ReactJS / NodeJS</p>
          <ul class="course-attributes">
            <li class="course-attribute">
              <ion-icon class="course-icon" name="calendar-outline"></ion-icon>
              <span>15 August 2023</span>
            </li>
            <li class="course-attribute">
              <ion-icon class="course-icon" name="time-outline"></ion-icon>
              <span><strong>60</strong> Hours </span>
            </li>
            <li class="course-attribute">
              <ion-icon class="course-icon" name="star-outline"></ion-icon>
              <span><strong>4.8</strong> rating (441)</span>
            </li>
          </ul>
          <div class="plan-sing-up">
            <a href="#" class="btn btn--full">Course Details</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container all-courses">
      <a href="#" class="link">See all courses &rarr;</a>
    </div>
  </section>
  <!-- #course -->
  <!-- #testimonials -->
  <section class="section-testimonials" id="testimonials">
    <div class="testimonials-container">
      <span class="subheading">Testimonials</span>
      <h2 class="heading-secondary">Learned a lot from the courses & enjoyed</h2>

      <div class="testimonials">
        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of student"
            src="img/avatar.jpg"
          />
          <blockquote class="testimonial-text">
            This is the really best ReactJs course I have ever had. I'm working
            as a React developer for almost two years.
          </blockquote>
          <p class="testimonial-name">&mdash; Francis</p>
        </figure>

        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of student "
            src="img/avatar.jpg"
          />
          <blockquote class="testimonial-text">
            I've been waiting this course for a long time!! And it is worth
            waiting! Thank you Ryan. P.S. Now I'm a half way through this
            course.
          </blockquote>
          <p class="testimonial-name">&mdash; Joe</p>
        </figure>

        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of student"
            src="img/avatar.jpg"
          />
          <blockquote class="testimonial-text">
            The starter projects which are like final projects of many expensive
            courses. No doubt why Ryan is God of JavaScript!
          </blockquote>
          <p class="testimonial-name">&mdash; Ting</p>
        </figure>

        <figure class="testimonial">
          <img
            class="testimonial-img"
            alt="Photo of student"
            src="img/avatar.jpg"
          />
          <blockquote class="testimonial-text">
            Half course done and oh my god!!! The dream React course. Ryan is an
            excellent teacher who keeps the material interesting.
          </blockquote>
          <p class="testimonial-name">&mdash; Queenie</p>
        </figure>
      </div>
    </div>

    <div class="gallery">
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
        <!-- <figcaption>Caption</figcaption> -->
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
      <figure class="gallery-item">
        <img
          src="https://source.unsplash.com/random/800x800"
          alt="Photo of student demo"
        />
      </figure>
    </div>
  </section>
  <!-- #testimonials -->
  <!-- #for prcing -->
  <section class="section-pricing">
    <div class="container">
      <span class="subheading">booking</span>
      <h2 class="heading-secondary">
        Inspiring workspaces for business of any size
      </h2>
    </div>
    <div class="container grid grid--2-cols margin-bottom-md">
      <div class="princing-plan princing-plan--starter">
        <header class="plan-header">
          <p class="plan-name">All Morning</p>
          <p class="plan-price"><span>$</span>240</p>
          <p class="plan-text">per day. That's just $50 per hour!</p>
        </header>
        <ul class="list">
          <li class="list-item">
            <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
            <span><strong>4 hours</strong> per day</span>
          </li>
          <li class="list-item">
            <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
            <span>From 10am to 2pm</span>
          </li>
          <li class="list-item">
            <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
            <span>Facilities is free</span>
          </li>
          <li class="list-item">
            <ion-icon class="list-icon" name="close-outline"></ion-icon>
          </li>
        </ul>
        <div class="plan-sing-up">
          <a href="#" class="btn btn--full">Book Now</a>
        </div>
      </div>

      <div class="princing-plan princing-plan--complete">
        <header class="plan-header">
          <p class="plan-name">Full Day</p>
          <p class="plan-price"><span>$</span>270</p>
          <p class="plan-text">per day. That's just $45 per hour!</p>
        </header>
        <ul class="list">
          <li class="list-item">
            <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
            <span><strong>6 hours</strong> per day</span>
          </li>
          <li class="list-item">
            <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
            <span>From 10am to 6pm</span>
          </li>
          <li class="list-item">
            <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
            <span>Facilities is free</span>
          </li>
          <li class="list-item">
            <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
            <span>Get access to latest ...</span>
          </li>
        </ul>
        <div class="plan-sing-up">
          <a href="#" class="btn btn--full">Book Now</a>
        </div>
      </div>
    </div>

    <div class="container grid">
      <aside class="plan-details">
        Prices include all applicable taxes. You can cancel at any time. Both
        plans include the following:
      </aside>
    </div>

    <div class="container grid grid--4-cols">
      <div class="feature">
        <ion-icon class="feature-icon" name="infinite-outline"></ion-icon>
        <p class="feature-title">Office Space</p>
        <p class="feature-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab
          voluptatum, quibusdam deserunt aut saepe vel accusamus?

        </p>
      </div>
      <div class="feature">
        <ion-icon class="feature-icon" name="nutrition-outline"></ion-icon>
        <p class="feature-title">Coworking Membership</p>
        <p class="feature-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab
          voluptatum, quibusdam deserunt aut saepe vel accusamus?
        </p>
      </div>
      <div class="feature">
        <ion-icon class="feature-icon" name="leaf-outline"></ion-icon>
        <p class="feature-title">Virtual Office</p>
        <p class="feature-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab
          voluptatum, quibusdam deserunt aut saepe vel accusamus?
        </p>
      </div>
      <div class="feature">
        <ion-icon class="feature-icon" name="pause-outline"></ion-icon>
        <p class="feature-title">Meeting rooms</p>
        <p class="feature-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab
          voluptatum, quibusdam deserunt aut saepe vel accusamus?
        </p>
      </div>
    </div>
  </section>

  <section class="section-cta">
    <div class="container">
      <div class="cta">
        <div class="cta-text-box">
          <h2 class="heading-secondary">Get your first course for free!</h2>
          <p class="cta-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsa
            eveniet omnis libero animi, assumenda blanditiis minus delectus eius
            ullam vero aperiam, fugiat corrupti officia quia quis quo quidem
            illum.
          </p>

          <form class="cta-form" action="#">
            <div>
              <label for="full-name">Full Name</label>
              <input
                id="full-name"
                type="text"
                placeholder="John Doe"
                required
              />
            </div>

            <div>
              <label for="email">Email address</label>
              <input
                id="email"
                type="email"
                placeholder="helloworld@example.com"
                required
              />
            </div>

            <div>
              <label for="select-where">Where did you hear from us?</label>
              <select id="select-where" required>
                <option value="">Please choose one option:</option>
                <option value="friends">Friends and family</option>
                <option value="youtube">YouTube video</option>
                <option value="podcast">Podcast</option>
                <option value="ad">Facebook ad</option>
                <option value="others">Others</option>
              </select>
            </div>

            <button class="btn btn--form">Sign up now</button>

            <!-- <input type="checkbox" />
                <input type="number" /> -->
          </form>
        </div>
        <div class="cta-img-box" role="img" aria-label=""></div>
      </div>
    </div>
  </section>
</main>